* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

  @media (max-width: 800px) { font-size: 12px; }
}
body{ background-color: #f2f2f2; }
  
/* ----- Scrollbar ----- */
::-webkit-scrollbar{
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
} 